<header>
  <!-- Logo Section -->
  <div class="logo">
    <!--    <img src="assets/images/android-chrome-192x192.png" alt="Stylee Logo">-->
    <h1>Stylee</h1>
  </div>

  <!-- Navigation Links -->
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/order">Orders</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/signup">Sign up</a></li>
      <li class="admin-only"><a routerLink="/dashboard">Admin Panel</a></li>
    </ul>
  </nav>

  <!-- Icons Section -->
  <div class="icons">
    <a routerLink="/cart">🛒 Cart</a>
  </div>
</header>
