<footer>
  <div class="container">
    <!-- Logo and Slogan -->
    <div class="column logo">
      <div class="slogan">Be Stylee! Your own style.</div>
    </div>

    <!-- Useful Links -->
    <div class="column">
      <h3>Shop</h3>
      <ul>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </div>

    <!-- Customer Support -->
    <div class="column">
      <h3>Support</h3>
      <ul>
        <li><a routerLink="shipping-returns">Shipping & Returns</a></li>
        <li><a routerLink="/privacyPolicy">Privacy Policy</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>

    <!-- Social Media -->
    <div class="column">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="#">F</a>
        <a href="#">T</a>
        <a href="#">I</a>
        <a href="#">Y</a>
      </div>
    </div>
  </div>
  <p>&copy; 2025 Stylee. All Rights Reserved.</p>
</footer>

